.centre{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.App {
  border: 5px solid black;
  border-radius: 25px;
}

.pokemonlist{
  max-height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}

li:hover{
  background-color: aqua;
  cursor: pointer;
}